body {
  font-size: 16px;
}
.component-box {
  width: 500px;
  min-height: 200px;
  border: 1px solid #f0f0f0;
  background: #ffffff;
  display: inline-block;
  margin-right: 10px;
}
.component-box-top {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid #f0f0f0;
  padding: 42px 24px 50px;
}
.component-box-bottom {
  position: relative;
  width: 100%;
  min-height: 100px;
}
.component-title {
  height: 30px;
  background: #ffffff;
  position: absolute;
  top: -11px;
  left: 20px;
  padding: 0 10px;
  color: #000000d9;
  font-weight: 500;
}
.component-desc {
  padding: 20px 10px 10px 10px;
  font-size: 14px;
  line-height: 2;
}
dt, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.theme-default-content table {
  display: block;
  margin: 2em 0;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 13px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 1.5715;
  border: 0;
  width: 100%;
  direction: ltr;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}
.theme-default-content table th:first-child, .theme-default-content table td:first-child {
  border-left: 1px solid #f0f0f0;
}
.theme-default-content table th {
  padding-top: 14px;
  border-width: 1px 0 2px 0;
}

.theme-default-content table th, .theme-default-content table td {
  padding: 12px;
  border-color: #f0f0f0;
  border-width: 1px 0;
}
.theme-default-content table th, .theme-default-content table td {
  padding: 16px 24px;
  text-align: left;
  border: 1px solid #f0f0f0;
}
.theme-default-content table th {
  color: #5c6b77;
  font-weight: 500;
  white-space: nowrap;
  background: rgba(0,0,0,.02);
}