@import '../../style/themes/index';
@import '../../style/mixins/index';

.wd-input {
	&__element {
		color: green;
		&--modify {
			color: aqua;
		}
	}
	&--modify {
		color: yellow;
	}
	&--wrap {
		display: flex;
	}
	&--inner {
		margin-right: 20px;
	}
}
.is-checked {
	color: purple;
}
input {
	width: 200px;
}
