@import '../../style/themes/index';
@import '../../style/mixins/index';

.wd-input {
	&__element {
		color: green;
		&--modify {
			color: aqua;
		}
	}
	&__range-separator {
		align-items: center;
		line-height: 1;
		padding: 0 8px;
	}
	&--separator {
		color: rgba(0, 0, 0, 0.25);
		cursor: default;
		display: inline-block;
		font-size: 16px;
		height: 16px;
		position: relative;
		vertical-align: top;
		width: 1em;
	}
	&--modify {
		color: yellow;
	}
	&--wrap {
		display: flex;
		align-items: center;
	}
	&--inner {
		margin-right: 20px;
	}
}
.is-checked {
	color: purple;
}
input {
	width: 200px;
}
