// mixins for button
// ------------------------
.link-size(@font-size) {
  font-size: @font-size;
}

.link-disabled(@color: @btn-disable-color; @background: @btn-disable-bg; @border: @btn-disable-border) {
  .link(@color);
  cursor: unset;
  &-disabled,
  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: @color;
      text-shadow: none;
      box-shadow: none;
    }
  }
}
// is show underline
.link-underline() {
  text-decoration: underline;
}
// Base styles of buttons
// --------------------------------------------------
.link(@color: @black) {
  position: relative;
  display: inline-block;
  font-weight: @btn-font-weight;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background-image: none;
  border: @btn-border-width @btn-border-style transparent;
  box-shadow: @btn-shadow;
  color: @color;
  cursor: pointer;
  transition: all 0.3s @ease-in-out;
  user-select: none;
  touch-action: manipulation;
  .link-size(@font-size-base);
  &,
  &:active,
  &:focus {
    outline: 0;
  }
  &:not([disabled]):hover {
    text-decoration: none;
  }
  &:not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }
}
.link-primary() {
  .link(@btn-primary-bg);
}
.link-success() {
  .link(@btn-success-bg);
}
.link-warning() {
  .link(@warning-color);
}
.link-danger() {
  .link(@error-color);
}
.link-info() {
  .link(@btn-info-bg);
}